<title>ERS</title>
<link rel = "icon" href = "https://cdn-icons-png.flaticon.com/128/11516/11516546.png" 
type = "image/x-icon">
<style>
    .btn1{
  color: #206592;
  border-color: #206592;
}
.btn2{
  color: #ce5c0c;
  border-color: #ce5c0c;
}
/* Full-width input fields */
select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
select:focus{
  background-color: #ddd;
  outline: none;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
button{
  position: relative;
  height: 65px;
  width: 90px;
  margin: 0 40px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;
}
</style>
<form class="modal-content" action="/work" method="post">
  <div class="container">
    <select id="receiver" name="username" required onchange="displaySelectedRole()">
      <option value="" disabled selected>Select Receiver</option>
      <% roles.forEach((user) => { %>
        <option value="<%= user.email %>"><%= user.email %></option>
      <% }); %>
    </select>

    <select id="recipient" name="email" required onchange="displaySelectedRole()">
      <option value="" disabled selected>Select Recipient</option>
      <% roles.forEach((user) => { %>
        <option value="<%= user.email %>"><%= user.email %></option>
      <% }); %>
    </select>

    <div class="clearfix">
      <button type="submit" class="signupbtn" style="background-color: red;">Assign</button>
    </div>
  </div>
</form>

  
  
  