<!DOCTYPE html>
<html>
<head>
  <title>ERS</title>
  <link rel = "icon" href = "https://cdn-icons-png.flaticon.com/128/11516/11516546.png" 
  type = "image/x-icon">
</head>
<body>
  <h1>Feedback Review</h1>
  <% if (allFeedback.length === 0) { %>
    <p>No feedback available.</p>
  <% } else { %>
    <ul>
      <% allFeedback.forEach((feedbackItem) => { %>
        <li>
          <strong>Email:</strong> <%= feedbackItem.email %><br>
          <strong>Feedback:</strong> <%= feedbackItem.feedback %>
        </li>
      <% }); %> 
    </ul>
  <% } %>
</body>
</html>
